# OS directory info files
.DS_Store
desktop.ini

# node
node_modules
.pnpm-store

# static build
build

# secrets
.env
.env.*
!.env.example
cookies.json
keys.json

# docker
docker-compose.yml

# ide
.vscode
