# os stuff
.DS_Store
desktop.ini

# npm
node_modules
package-lock.json

# secrets
.env

# page build
min
build

# stuff i already made but delayed
future

# docker
docker-compose.yml

# vscode
.vscode

# cookie file
cookies.json
