version: '3.5'

services:
    cobalt-api:
        build: .
        restart: unless-stopped
        container_name: cobalt-api
        ports:
            - 9000:9000/tcp
        environment:
            - apiPort=9000
            - apiURL=https://co.wuk.sh/
            - apiName=eu-nl
    cobalt-web:
        build: .
        restart: unless-stopped
        container_name: cobalt-web
        ports:
            - 9000:9000/tcp
        environment:
            - webPort=9000
            - webURL=https://co.wukko.me/
            - apiURL=https://co.wuk.sh/
