apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "cobalt-chart.fullname" . }}
  labels:
    {{- include "cobalt-chart.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "cobalt-chart.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "cobalt-chart.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          volumeMounts:
            - mountPath: /app/src/cookies.json
              name: cookies-volume
              subPath: cookie/cookies.json
          env:
            - name: API_URL
              value: https://api.freesavevideo.online/
            - name: API_PORT
              value: '80'
            - name: API_NAME
              value: freesavevideo-api
            - name: CORS_WILDCARD
              value: '1'
            - name: CORS_URL
              value: https://freesavevideo.online
            - name: RATELIMIT_WINDOW
              value: '60'
            - name: RATELIMIT_MAX
              value: '30'
            - name: TUNNEL_RATELIMIT_WINDOW
              value: '60'
            - name: TUNNEL_RATELIMIT_MAX
              value: '50'
            - name: TURNSTILE_SITEKEY
              value: 0x4AAAAAAAw8jRb9G7cWXnbd
            - name: COOKIE_PATH
              value: src/cookies.json
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
        - name: additional-container
          image: "gcr.io/ebay-mag/kubein@sha256:7faf00eb016f17e4fc1c44381c1d2325baf481ec800d63a186af5dec8b8c6664"
          imagePullPolicy: IfNotPresent
          command: ["sh", "-c", "echo 'This is an additional container' && sleep 3600"]
          env:
            - name: EXAMPLE_ENV
              value: example_value
          resources:
            limits:
              memory: "128Mi"
              cpu: "500m"
            requests:
              memory: "64Mi"
              cpu: "250m"
      volumes:
        - name: cookies-volume
          persistentVolumeClaim:
            claimName: {{ .Release.Name }}-pvc
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
