:root {
    --transparent: rgba(0, 0, 0, 0);
    --without-padding: calc(100% - 4rem);
    --border-15: 0.15rem solid var(--accent);
    --border-10: 0.1rem solid var(--accent);
    --font-mono: 'Noto Sans Mono', 'Consolas', 'SF Mono', monospace;
}
@media (prefers-color-scheme: dark) {
    :root {
        --accent: rgb(225, 225, 225);
        --accent-hover: rgb(25, 25, 25);
        --accent-button-bg: rgb(20, 20, 20);
        --accent-press: rgb(10, 10, 10);
        --accent-unhover: rgb(100, 100, 100);
        --accent-unhover-2: rgb(110, 110, 110);
        --background: rgb(0, 0, 0);
    }
}
@media (prefers-color-scheme: light) {
    :root {
        --accent: rgb(25, 25, 25);
        --accent-hover: rgb(225, 225, 225);
        --accent-button-bg: rgb(230, 230, 230);
        --accent-press: rgb(240, 240, 240);
        --accent-unhover: rgb(190, 190, 190);
        --accent-unhover-2: rgb(110, 110, 110);
        --background: rgb(255, 255, 255);
    }
}
[data-theme="dark"] {
    --accent: rgb(225, 225, 225);
    --accent-hover: rgb(25, 25, 25);
    --accent-button-bg: rgb(20, 20, 20);
    --accent-press: rgb(10, 10, 10);
    --accent-unhover: rgb(100, 100, 100);
    --accent-unhover-2: rgb(110, 110, 110);
    --background: rgb(0, 0, 0);
}
[data-theme="light"] {
    --accent: rgb(25, 25, 25);
    --accent-hover: rgb(225, 225, 225);
    --accent-button-bg: rgb(230, 230, 230);
    --accent-press: rgb(240, 240, 240);
    --accent-unhover: rgb(190, 190, 190);
    --accent-unhover-2: rgb(110, 110, 110);
    --background: rgb(255, 255, 255);
}
html,
body {
    margin: 0;
    background: var(--background);
    color: var(--accent);
    font-family: var(--font-mono);
    user-select: none;
    -webkit-tap-highlight-color: var(--transparent);
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
a {
    color: var(--accent);
    text-decoration: none;
    user-select: none;
}
::placeholder {
    color: var(--accent-unhover-2);
}
::-webkit-scrollbar {
    display: none;
}
:focus-visible {
    outline: var(--border-15);
}
[type=checkbox] {
    margin-right: 0.8rem;
}
[type="checkbox"] {
    -webkit-appearance: none;
    margin-right: 0.8rem;
    z-index: 0;
}
[type="checkbox"]::before {
    content: "";
    width: 15px;
    height: 15px;
    border: var(--border-15);
    background-color: var(--accent-button-bg);
    display: block;
    z-index: 5;
    position: relative;
}
[type="checkbox"]:checked::before {
    box-shadow: inset 0 0 0 0.2rem var(--accent-button-bg);
    background-color: var(--accent);
}
button {
    background: none;
    border: none;
    font-family: var(--font-mono);
    color: var(--accent);
    font-size: 0.9rem;
}
input,
input[type="text"],
[type="text"] {
    border-radius: 0;
}
button:hover,
.switch:hover,
.checkbox:hover,
.text-to-copy:hover {
    background: var(--accent-hover);
    cursor: pointer;
}
.switch.text-backdrop:hover,
.switch.text-backdrop:active,
.text-to-copy.text-backdrop:hover,
.text-to-copy.text-backdrop:active {
    background: var(--accent);
    color: var(--background);
}
button:active,
.switch:active,
.checkbox:active,
.text-to-copy:active {
    background: var(--accent-press);
    cursor: pointer;
    transform: scale(0.95)
}
.imagepicker-image:active {
    cursor: pointer;
    transform: scale(0.95)
}
input[type="checkbox"] {
    cursor: pointer;
}
.button {
    background: none;
    border: var(--border-15);
    color: var(--accent);
    padding: 0.3rem 0.75rem 0.5rem;
    font-size: 1rem;
}
.mono {
    font-family: var(--font-mono);
}
.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#cobalt-main-box {
    position: fixed;
    width: 60%;
    height: auto;
    display: inline-flex;
    padding: 3rem;
}
#logo-area {
    padding-right: 3rem;
    padding-top: 0.1rem;
    text-align: left;
    font-size: 1rem;
    white-space: nowrap;
}
#download-area {
    display: inline-flex;
    height: 2rem;
    width: 100%;
    margin-top: -0.6rem;
}
.box {
    background: var(--background);
    border: var(--border-15);
    color: var(--accent);
}
#url-input-area {
    background: var(--background);
    padding: 1.2rem 1rem;
    width: 100%;
    color: var(--accent);
    border: 0;
    float: right;
    border-bottom: 0.1rem solid var(--accent-unhover);
    transition: border-bottom 0.2s;
    outline: none;
}
#url-input-area:focus {
    outline: none;
    border-bottom: var(--border-10);
}
#download-button {
    height: 2.5rem;
    color: var(--accent);
    background: none;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
    padding: 0;
    letter-spacing: -0.1rem;
}
#download-button:disabled {
    color: var(--accent-unhover);
    cursor: not-allowed;
}
#footer {
    bottom: 0rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.9rem;
    text-align: center;
    width: 90%;
}
#footer-buttons {
    display: inline-flex;
    align-items: center;
}
.footer-button {
    cursor: pointer;
    color: var(--accent-unhover-2);
    border: 0.15rem solid var(--accent-unhover-2);
    padding: 0.4rem 0.8rem 0.5rem;
    margin: 0.4rem;
    display: flex;
    align-content: center;
    align-items: center;
}
.footer-button:hover {
    color: var(--accent);
    border: var(--border-15);
}
.text-backdrop {
    background: var(--accent);
    color: var(--background);
    padding: 0 0.1rem;
}
::-moz-selection {
    background-color: var(--accent);
    color: var(--background);
}
::selection {
    background-color: var(--accent);
    color: var(--background);
}
.popup {
    visibility: hidden;
    position: fixed;
    height: auto;
    width: 30%;
    z-index: 999;
    padding: 3rem 2rem 2rem 2rem;
    font-size: 0.9rem;
    max-height: 80%;
}
.popup.small {
    width: 20%
}
#popup-backdrop {
    opacity: 0.5;
    background-color: var(--background);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
}
.popup.scrollable {
    height: 80%;
}
.scrollable .bottom-link {
    padding-bottom: 2rem;
}
.changelog-subtitle {
    font-size: 1.1rem;
    padding-bottom: 0.7rem;
}
.nowrap {
    white-space: nowrap;
}
.no-top-padding {
    padding-top: 0!important;
}
.desc-padding {
    padding-bottom: 1.5rem;
}
#popup-subtitle {
    font-size: 1.1rem;
    padding-bottom: 1rem;
}
#popup-desc,
#desc-error {
    width: 100%;
    text-align: left;
    float: left;
    line-height: 1.7rem;
    user-select: text;
}
#popup-title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    line-height: 1.85em;
    display: flex;
    align-items: center;
}
#popup-footer {
    bottom: 0;
    position: fixed;
    margin-bottom: 1.5rem;
    background: var(--background);
    width: var(--without-padding);
}
.popup-footer-content {
    font-size: 0.8rem;
    line-height: 1.7rem;
    color: var(--accent-unhover-2);
    border-top: 0.05rem solid var(--accent-unhover-2);
    padding-top: 0.4rem;
}
#popup-above-title {
    color: var(--accent-unhover-2);
    font-size: 0.8rem;
}
#popup-content {
    overflow-x: hidden;
    overflow-y: auto;
    height: var(--without-padding);
    scrollbar-width: none;
}
#popup-header {
    position: relative;
    background: var(--background);
    z-index: 999;
}
#popup-content.with-footer {
    margin-bottom: 3rem;
}
#popup-close {
    cursor: pointer;
    float: right;
    right: 0rem;
    position: absolute;
}
.settings-category {
    padding-bottom: 1.2rem;
}
.category-title {
    width: 100%;
    text-align: left;
    line-height: 1.7rem;
    color: var(--accent-unhover-2);
    border-bottom: 0.05rem solid var(--accent-unhover-2);
    padding-bottom: 0.25rem;
    margin-bottom: 1rem;
}
.bottom-margin {
    margin-bottom: 1rem;
}
.checkbox {
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    padding: 0.6rem;
    padding-right: 1rem;
    width: auto;
    margin: 0 0.5rem 0.5rem 0;
    background: var(--accent-button-bg);
}
.checkbox-label {
    line-height: 1.3rem;
}
.switch-container {
    width: 100%;
}
.subtitle {
    width: 100%;
    text-align: left;
    line-height: 1.7rem;
    padding-bottom: 0.4rem;
    color: var(--accent);
}
.extra {
    margin-top: 1rem;
}
.small-padding .subtitle {
    margin-top: 0.5rem;
}
.explanation {
    padding-top: 1rem;
    width: 100%;
    font-size: 0.8rem;
    text-align: left;
    line-height: 1.3rem!important;
    color: var(--accent-unhover-2);
}
.subtext {
    color: var(--accent-unhover-2);
}
.switch {
    padding: 0.8rem;
    width: 100%;
    text-align: center;
    color: var(--accent);
    background: var(--accent-button-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.switch.space-right {
    margin-right: 1rem
}
.switch[data-enabled="true"] {
    color: var(--background);
    background: var(--accent);
    cursor: default;
}
.switches {
    display: flex;
    width: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
}
.autowidth {
    width: auto;
}
.bottom-space {
    margin-bottom: 2rem;
}
.text-to-copy {
    user-select: text;
    border: var(--border-15);
    padding: 1rem;
    overflow: auto;
}
#close-bottom {
    max-width: 3rem;
    margin-left: 1rem;
    background: var(--background);
    border: var(--border-15);
    color: var(--accent);
    padding: 0.3rem 0.75rem 0.5rem;
}
.popup-tab-content {
    display: none;
}
#popup-tabs {
    z-index: 999;
    bottom: 0;
    position: relative;
    width: 100%;
}
.emoji {
    margin-right: 0.4rem;
}
.tooltip {
    position: absolute;
    margin-top: -6rem;
    margin-left: -0.5rem;
    line-height: 1.2;
    text-align: left;
    pointer-events: none;
    color: var(--accent-unhover-2)!important;
}
.button:active .tooltip {
    display: none;
}
.imagepicker-image {
    object-fit: cover;
    width: inherit;
    height: inherit;
}
.imagepicker-image-container {
    width: 8rem;
    height: 8rem;
    margin-bottom: 1rem;
    background-color: var(--accent-button-bg);
    text-align: center;
    letter-spacing: -0.2rem;
    line-height: 8rem;
}
#imagepicker-holder {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-around;
}
#popup-imagePicker .explanation {
    padding-top: 0!important;
    padding-bottom: 1rem;
}
#popup-imagePicker #popup-buttons {
    padding-top: 1rem;
}
/* adapt the page according to screen size */
@media screen and (min-width: 2300px) {
    html {
        zoom: 130%;
    }
}
@media screen and (min-width: 3840px) {
    html {
        zoom: 180%;
    }
}
@media screen and (min-width: 5000px) {
    html {
        zoom: 300%;
    }
}
@media screen and (max-width: 1550px) {
    .popup.small {
        width: 25%
    }
}
@media screen and (max-width: 1440px) {
    #cobalt-main-box {
        width: 65%;
    }
    .popup.small {
        width: 30%
    }
    .popup {
        width: 40%;
    }
}
@media screen and (max-width: 1100px) {
    #cobalt-main-box {
        width: 70%;
    }
    .popup.small {
        width: 35%
    }
    .popup {
        width: 50%;
    }
}
@media screen and (max-width: 1025px) {
    #cobalt-main-box {
        width: 75%;
    }
    .popup.small {
        width: 40%
    }
    .popup {
        width: 60%;
    }
}
@media screen and (max-height: 850px) {
    .popup {
        height: 80%
    }
    .popup.small {
        height: auto;
    }
    .bottom-link {
        padding-bottom: 2rem;
    }
}
/* mobile page */
@media screen and (max-width: 949px) {
    #cobalt-main-box {
        width: 85%;
    }
    #close-error {
        bottom: 5%;
        position: absolute;
        width: var(--without-padding);
    }
}
@media screen and (max-width: 475px) {
    .tab {
        font-size: 0;
    }
    .tab .emoji {
        margin-right: 0;
    }
    #cobalt-main-box {
        width: 90%;
    }
}
@media screen and (max-width: 949px) {
    .imagepicker-image-container {
        height: 7rem;
        width: 7rem;
        line-height: 7rem;
    }
    #close-error {
        bottom: 5%;
        position: absolute;
        width: var(--without-padding);
    }
    #logo-area {
        padding-right: 0;
        padding-top: 0;
        position: fixed;
        line-height: 0;
        margin-top: -2rem;
        width: 100%;
        text-align: center;
    }
    #cobalt-main-box {
        display: flex;
        border: none;
        padding: 0;
    }
    .popup, .popup.scrollable, .popup.small {
        border: none;
        width: 90%;
        height: 90%;
        max-height: 100%;
    }
    .bottom-link {
        padding-bottom: 2rem;
    }
}
@media screen and (max-width: 400px) {
    .popup-title {
        line-height: inherit;
    }
    .imagepicker-image-container {
        line-height: 6rem;
        height: 6rem;
        width: 6rem;
    }
}